<div id="footer-container">

	<div id="footer-content-container" class="small bold">
	
		<div id="footer-nav">
		
			<span class="footernav">HOW DOES IT WORK</span>
			
			<span class="footernav">PRICING</span>
			
			<span class="footernav">DOWNLOAD</span>
			
			<span class="footernav">LOGIN</span>
			
			<span class="footernav">SIGN UP</span>
			
			<br>
			
					
		</div>
	<span class="copyright">Copyright © 2013 Pixilsnap</span>

	</div>

</div>