<div id="header-container">

	<div id="header-content-container">
	
		<div id="header">
	
			<div id="logo">
				<%= link_to(image_tag("logo.png"), root_path) %>
			</div>
			
			
			<div id="nav" class="medium">
			
				<div class="nav-item">
					 <a href="#how">how does it work?</a>
				</div>
				
				<div class="nav-item">
					<a href="#pricing">pricing</a>
				</div>
				
				<div class="nav-item">
					<a href="#">download</a>
				</div>
				
				<div class="nav-item">
					<a href="login.html">login</a>
				</div>
				
				<div class="nav-item-signup">
					<a href="signup.html" class="signup">sign up</a>
				</div>
			
			</div>
		
		</div>
	
	</div>

</div>
()