<div id="user-footer-container">

	<div id="user-footer-content-container" class="small bold">
	
		<div id="footer-logo">
			<%= image_tag("footer-nav.png") %>
		</div>
	
		
	
		<div id="user-footer-right">
		
			<div class="user-copyright medium bold">
			
				<span>Copyright © 2013 Pixilsnap</span>
			
			</div>
			
			<div class="user-footer-nav">
	
			
				<span>Home | Contact | Account settings | Logout</span>
				
			
			</div>
		
			
			
			<br>
					
		</div>
	

	</div>

</div>
